@media (max-width: 600px) {
    header ul {
        margin-top: 0.9em;
        margin-left: -1.3em;
    }

    header nav ul li {
        display: block;
        list-style-type: none;
        text-align: center;
        margin-bottom: 0.2em;
    }

    .header-title {
        padding: 2em;
    }

    .header-title p {
        font-size: 1em;
    }

    .header-title h1 {
        font-size: 2em;
        padding-bottom: 0.5em;
    }

    .team-description-wrapper ul li img {
        width: 100%;
        height: auto;
    }

    .choose-us {
        display: flex;
        justify-content: center;
    }

    .choose-us ul {
        flex-direction: column;
        gap: 2em;
        max-width: 60vw;
        align-items: center;
        justify-content: center;
    }

    .header-title button {
        padding: 0.7em 0.9em;
        font-size: 15px;
        margin-top: 2em;
    }
}